<div class="header">
    <div class="container">
        <div class="row">
            <div class="relative h-40">
                <img src="assets/menu.png" class="img-icon">
            </div>
            <div class="relative h-40 header-name">
                <h6 class="vertical">Ana Sayfa</h6>
            </div>
            <div class="relative h-40">
                <img src="assets/basket.png" class="img-icon">
            </div>
            <div class="relative h-40">
                <img src="assets/bill.png" class="img-icon">
            </div>
        </div>
    </div>
</div>

<!-- search -->

<div class="search-div">
    <div class="container">
        <div class="row">
            <i class="fas fa-search left"></i>
            <input class="search-input left" placeholder="Mekan ara">
            <img src="assets/filter.png" class="img-icon">
        </div>
    </div>
</div>

<!-- list -->

<div class="list">
    <h6>Sonuçlar</h6>
    <div infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500" (scrolled)="req.skip = req.skip! + 1;req.limit = 1;GetFeed()" class="list-item" *ngFor="let item of responses">
        <div class="container m-p-0 max">
            <div class="row m-p-0 max relative">
                <img class="list-img" *ngIf="item.images!.length >= 1" [src]="item.images![0].base64">
                <div class="star">
                    <i class="fas fa-star"></i> {{item.storeInfo!.rate!}}
                </div>
                <div class="list-content">
                    <h5>{{item.title}}</h5>
                    <div class="container m-p-0 max">
                        <div class="row m-p-0 max">
                            <div class="col-sm-4 col-xs-4 m-p-0 left w-50">
                                <small>Coffee, Tatlı</small>
                            </div>
                            <div class="col-sm-8 col-xs-8 m-p-0 left w-50">
                                <i class="fas fa-shopping-basket"></i> <small> Min. Sipariş Tutarı :
                                    ₺{{item.storeInfo!.minOrderPrice}}</small>
                            </div>
                            <div class="col-sm-4 col-xs-4 m-p-0 left w-50">
                                <small class="black">{{GetDistance(item.storeInfo!.geoLocation!.latitude!,item.storeInfo!.geoLocation!.longitude!)}}
                                    km yakınında</small>
                            </div>
                            <div class="col-sm-8 col-xs-8 m-p-0 left w-50" *ngIf="item.storeInfo && item.storeInfo!.workingHours!.length >= 1">
                                <small class="green" [ngClass]="{'red': item.storeInfo!.status != 'open'}">{{item.storeInfo!.status !=
                                    'open' ? "İşletme Kapalı" : "İşletme Açık"}}</small><small>
                                    {{item.storeInfo!.workingHours![0]!.open}} /
                                    {{item.storeInfo!.workingHours![0]!.close}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>